{% extends 'base.html' %}

{% block titulo %}
    Registo de Novo User
{% endblock titulo %}

{% block conteudo %}

    <h1 style="text-align: center;" class="mt-4 mb-3">Regista-te</h1>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{form_usuario.username.errors}}
            <label>Nome de utilizador: </label>
            {{form_usuario.username}}
        </div>
        <div class="form-group">
            {{form_usuario.first_name.errors}}
            <label>Primeiro nome: </label>
            {{form_usuario.first_name}}
        </div>
        <div class="form-group">
            {{form_usuario.last_name.errors}}
            <label>Último nome: </label>
            {{form_usuario.last_name}}
        </div>
        <div class="form-group">
            {{form_usuario.password1.errors}}
            <label>Senha: </label>
            {{form_usuario.password1}}
        </div>
        <div class="form-group">
            {{form_usuario.password2.errors}}
            <label>Confirmação da senha: </label>
            {{form_usuario.password2}}
        </div>

        <div class="form-group-bt" style="margin-bottom: 134px;">
            <input type="submit" value="Registar" class="btn btn-primary">
            <a class="btn btn-primary py-2" href="{% url 'logar_usuario' %}">Log In</a>
        </div>

    </form>
    
{% endblock conteudo %}