{% extends 'base.html' %}

{% block titulo %}
    Área de Login
{% endblock titulo %}

{% block conteudo %}

    <div class="text-center mt-4 mb-2">
        <h1>Acesso Restrito</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
        <div class="form-group">
            <label>Nome do utilizador: </label>
            {{form_login.username}}
        </div>

        <div class="form-group">
            <label>Senha: </label>
            {{form_login.password}}
        </div>

        <div class="form-group-bt" style="margin-bottom: 435px; margin-top: 30px;">
            <input type="submit" class="btn btn-primary" value="Log In">
        </div>
    </form>

{% endblock conteudo %}