<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    
    <title>
        {% block titulo %}
        {% endblock titulo %}
    </title>

    {% include 'styles.html' %}
</head>

<body class="bg-info">
    {% if request.user.is_authenticated %}
    {% include 'clientes/navbar.html' %}
    {% else %}
    {% include 'navbar.html' %}
    {% endif %}

    <main class="container-fluid">
        {% block conteudo %}

        {% endblock conteudo %}
    </main>
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>

</html>