{% extends "base.html" %}

{% block titulo %}
Aluga Ai
{% endblock titulo %}

{% block conteudo %}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide container mt-4" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active bg-white">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://i.pinimg.com/564x/98/17/45/981745cdf6676b1b72c0fdc5ea843ff5.jpg" alt="" />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1"><b>Para um mundo mais sustentável</b></h1>
              <h3 class="h2">Acreditamos que pequenas ações fazem grande diferença</h3>
              <p>
                Ao alugar em vez de comprar, você está a contribuir para a redução do desperdício.
                Junte-se a nós e torne-se parte desta revolução verde!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2059/2059157.png" alt="" />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>Alugue com segurança</b></h1>
              <h3 class="h2">A sua segurança é a nossa prioridade</h3>
              <p>
                Com o nosso sistema de avaliação e feedback, pode alugar os seus objetos com total segurança.
                com o nosso chat integrado facilita a comunicação entre os utilizadores,
                permitindo que agendem entregas e devoluções de forma rápida e eficiente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="container bg-white">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://i.pinimg.com/564x/4e/03/e8/4e03e899774dc1a8f04acd23e6a1b7bb.jpg" alt="" />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>Descubra um mundo de oportunidades</b></h1>
              <h3 class="h2">Oferecemos uma vasta gama de objetos</h3>
              <p>
                Desde equipamentos desportivos aos mais variados gadjets, temos tudo o que precisa quando precisa.
                Explore a nossa plataforma, e comece a alugar de forma inteligente hoje mesmo!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button"
    data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button"
    data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5 bg-info text-white border-bottom border-5 border-white">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="fw-normal"><b>Categorias em Destaque</b></h1>

      <p>
        Estas são as categorias mais procuradas no momento. Aproveite para conferir!
      </p>
    </div>
  </div>
  <div class="row">
    {% for categoria in categorias_destaque %}
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="{{ categoria.foto_url }}" class="rounded-circle img-fluid border"
          style="width: 350px; height: 350px;" /></a>
      <h5 class="text-center mt-3 mb-3">{{ categoria.categoria }}</h5>
      <p class="text-center"><a class="btn btn-light"
          href="{% url 'produtos' %}?categoria={{ categoria.id_categoria }}">Pesquisar</a></p>
    </div>
    {% endfor %}
</section>
<!-- End Categories -->

<!-- Start  Product -->
<section class="bg-info text-white mb-5">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="fw-normal">Produtos mais Alugados</h1>
        <p>
          Estes são os produtos mais alugados no momento. Aproveite para conferir!
        </p>
      </div>
    </div>
    <div class="row text-dark">
      {% for anuncio in anuncios_destaque %}
      <div class="col-12 col-md-3 mb-4 h-50">
        <div class="card h-50 card-produto produto-{{ anuncio.id_anuncio }}"
          onclick="window.location.href='{% url 'produto' anuncio.id_anuncio %}'">
          <img src="{{ anuncio.foto_url }}" class="card-img-top" alt="..." height="275" />
          <div class="card-body pb-0">
            <div class="row">
              <h6 class="text-decoration-none col-10">
                {{ anuncio.titulo }}
              </h6>
              {% if request.user.is_authenticated %}
              {% if anuncio.id_anuncio in favoritos %}
              <i class="col-2 fa fa-heart mt-2 fa-lg text-danger"
                onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
              {% else %}
              <i class="col-2 fa fa-heart mt-2 fa-lg text-muted"
                onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
              {% endif %}
              {% else %}
              <i class="col-2 fa fa-heart mt-2 fa-lg text-muted"
                onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
              {% endif %}
            </div>
            <div class="row">
              <p class="fw-bold">{{ anuncio.preco|floatformat:2 }} €/Dia</p>
            </div>
            <div class="row mt-5">
              <p class="text-decoration-none col-10">
                {{ anuncio.utilizador.first_name }}
              </p>
              <i class="col-2 fa fa-envelope mt-2 fa-lg text-muted"
                onclick="createChat(event, {{ anuncio.utilizador.id}})">
              </i>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Product -->

{% endblock conteudo %}