{% extends "base.html" %}

{% block titulo %}
Message
{% endblock titulo %}
{% block conteudo %}
<style>
    .container {
        max-width: 1200px;
    }

    .sidebar {
        background-color: #f0f0f0;
        padding: 15px;
        border-right: 1px solid #ddd;
    }

    .sidebar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .sidebar-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .chat {
        padding: 20px;
        background-color: #b2ebf2;
    }

    .message {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .message-text {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .chat-input {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        border-radius: 20px;
    }

    .chat-input input {
        flex-grow: 1;
        padding: 10px;
        border: none;
        border-radius: 20px;
        margin-right: 10px;
    }

    .chat-input button {
        background-color: #007bff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    .conversas-header {
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .chats {
        cursor: pointer;
    }

    .chats:hover {
        background-color: rebeccapurple;
    }

    .chats span {
        font-size: 12px;
        color: #777;
        float: right;
    }
</style>
<section class="container py-5">
    <div class="row">
        <div class="col-md-4 sidebar">
            <div class="coversas-header mb-3 text-center fw-bold">
                <h2 class="mb-0">Conversas</h2>
            </div>
            {% for chat in chats %}
            <div class="shadow p-3 mb-5 bg-body rounded chats">
                {% if request.user.id != chat.utilizador1.id %}
                {{ chat.utilizador1.first_name }}
                {% else %}
                {{ chat.utilizador2.first_name }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8 chat mb-2">
            <div class="chat-header mb-3 text-center">
                <h2 class="mb-0">NOME_DO_UTILIZADOR</h2>
            </div>
            <div class="messages">
                <div class="message">
                    <div class="message-text">BOM DIA</div>
                </div>
                <div class="message">
                    <div class="message-text">TÁ EM PÉ</div>
                </div>
                <div class="message" style="float: right;">
                    <div class="message-text bg-info">MOSTRA!</div>
                </div>
            </div>
            <div class="chat-input mt-5" style="margin-top: 25px;">
                <button><i class="fas fa-plus"></i></button>
                <input type="text" placeholder="Type a message...">
                <button><i class="fas fa-camera"></i></button>
            </div>
        </div>
    </div>
</section>


{% endblock conteudo %}