{% extends "base.html" %}

{% block titulo %}
Aluga Ai - Produtos
{% endblock titulo %}

{% block conteudo %}
<section class="bg-info pt-3 mb-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-5" style="background-color: rgb(232, 249, 255);">
                <h1 class="font-weight-bold mb-2">Filtros</h1>
                <div class="container mb-2 row text-white">
                    {% for filtro_nome, filtro_valor in filtros.items %}
                    <div class="col-12 mb-1 text-white">
                        <button class="rounded bg-primary btn text-white" onclick="removerFiltro('{{filtro_nome}}')">
                            {% if filtro_valor|length > 20 %}
                            {{ filtro_valor|slice:":20" }}...
                            {% else %}
                            {{ filtro_valor }}
                            {% endif %}
                            <i class="fa fa-close"></i></button>
                    </div>
                    {% endfor %}
                </div>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Estado do produto
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#" onclick="addFiltro('estado', '1')">Novo</a></li>
                            <li><a class="text-decoration-none" href="#" onclick="addFiltro('estado', '2')">Semi-novo</a></li>
                            <li><a class="text-decoration-none" href="#" onclick="addFiltro('estado', '3')">Usado</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Categoria
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            {% for categoria in categorias %}
                            <li><a class="text-decoration-none" href="#"
                                    onclick="addFiltro('categoria', {{ categoria.id_categoria }})">
                                    {{ categoria.categoria }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Localização
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            {% for localizacao in localizacoes %}
                            <li><a class="text-decoration-none" href="#"
                                    onclick="addFiltro('localizacao', {{ localizacao.id_localizacao }})">
                                    {{ localizacao.localizacao }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Preço
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Definir</a></li>
                            <li><a class="text-decoration-none" href="#">Definir</a></li>
                            <li><a class="text-decoration-none" href="#">Definir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9"> <!-- Ajuda aqui -->
                <div class="row mb-2">
                    <form class="form-inline">
                        <div class="col-11 d-flex">
                            <input class="form-control mr-sm-2" type="search" placeholder="Bicicleta"
                                aria-label="Search">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
                        </div>
                    </form>
                </div>

                <div>
                    <div class="row text-dark">
                        {% for anuncio in anuncios %}
                        <div class="col-12 col-md-4 mb-4 h-50">
                            <div class="card h-50 card-produto produto-{{ anuncio.id_anuncio }}"
                                onclick="window.location.href='{% url 'produto' anuncio.id_anuncio %}'">
                                <img src="{{ anuncio.foto_url }}" class="card-img-top" alt="..." height="275" />
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <h6 class="text-decoration-none col-10">
                                            {{ anuncio.titulo }}
                                        </h6>
                                        {% if request.user.is_authenticated %}
                                        {% if anuncio.id_anuncio in favoritos %}
                                        <i class="col-2 fa fa-heart mt-2 fa-lg text-danger"
                                            onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
                                        {% else %}
                                        <i class="col-2 fa fa-heart mt-2 fa-lg text-muted"
                                            onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
                                        {% endif %}
                                        {% else %}
                                        <i class="col-2 fa fa-heart mt-2 fa-lg text-muted"
                                            onclick="addFavorito(event, {{ anuncio.id_anuncio }})"></i>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <p class="fw-bold">{{ anuncio.preco|floatformat:2 }} €/Dia</p>
                                    </div>
                                    <div class="row mt-5">
                                        <p class="text-decoration-none col-10">
                                            {{ anuncio.utilizador.first_name }}
                                        </p>
                                        <i class="col-2 fa fa-envelope mt-2 fa-lg text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock conteudo %}